<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.seminar.dao.ReportMapper">

  <insert id="insertReport">
    insert into report(title, speaker, time, location, cid, sid)
    values (#{title}, #{speaker}, #{time}, #{location}, #{cid}, #{sid})
  </insert>

  <select id="listReport" resultType="com.api.seminar.entity.Report">
    select id, title, speaker, time, location from report
  </select>
</mapper>
