<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.seminar.dao.ReportMapper">

  <select id="findByCidAndSid" resultType="com.api.seminar.entity.Report">
    select id, title, speaker, time, location, view
    from report where 1=1
    <if test="cid != null">
      and cid=#{cid}
    </if>
    <if test="sid != null">
      and sid=#{sid}
    </if>
  </select>

  <insert id="save">
    insert into report(title, speaker, time, location, cid, sid)
    values (#{title}, #{speaker}, #{time}, #{location}, #{cid}, #{sid})
  </insert>
</mapper>
