<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.seminar.dao.SubjectMapper">

  <resultMap id="subjectList" type="com.api.seminar.entity.Subject">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <collection property="children" ofType="com.api.seminar.entity.Subject">
      <id column="cid" property="id"/>
      <result column="cname" property="name"/>
    </collection>
  </resultMap>

  <select id="listAllSubject" resultMap="subjectList">
    SELECT s1.id as id, s1.name as name, s2.id as cid, s2.name as cname
    FROM subject s1, subject s2
    where s1.parent=0 and s1.id=s2.parent;
  </select>

  <select id="listSecondarySubject" resultType="com.api.seminar.entity.Subject">
    select id, name from subject
    where parent>0
  </select>
</mapper>
